{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-center ">Zerojudge Stats</span>
  </div>
</nav>
{% endblock %}

{% block content %}
  

  <div class="w-75 h-50 shadow p-3 mb-5 bg-body rounded position-absolute top-50 start-50 translate-middle">

    <h1 class="position-absolute top-30 start-50 translate-middle">Generate your ZJ Stats</h1>
    <p class="text-start fs-5" style="margin-top: 5%; margin-left: 2%; margin-right: 2%;">在靜態網頁中顯示使用者當前的Zerojudge解題統計！</p>
  </div>
{% endblock %}

